.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #161413;
    color: #fff;

    a {
        text-decoration: unset;
    }

    h2 {
        padding: 1em;
        font-weight: 400;
    }

    hr {
        width: 80%;
        margin: auto;
    }

    .footer_row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 1.5em;
    }

    ul {
        display: flex;
        flex-direction: row;

        li,a {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 0 0.2em;
        }
    }

    p {
        text-align: center;
        opacity: 0.6;
    }
}