.notFoundLol{
    h1{
        text-align: center;
        background-color: black;
        color: white;
    }
    .perdu{
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: black;
    }
}
