@font-face {
    font-family: "Mostery";
    src: url(../assets/font/ElMessiri-Medium.ttf);
}

$font-1: "Mostery", sans-serif;

$gris: rgb(185, 185, 185);
$blanc: rgb(225, 255, 255);
$noir: rgb(46, 27, 8);

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: $font-1;
}

.navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    background-color: rgb(185, 185, 185);
    opacity: 90%;
    text-align: center;
    font-size: 25px;
    a {
        text-decoration: none;
    }
    ul {
        width: 100%;
        align-items: center;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        padding: 5px;
    }
}
