@font-face {
    font-family: 'Mostery' ;
    src: url(../assets/font/Mostery.ttf);
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    background-color: rgb(185, 185, 185);
    opacity: 90%;
    text-align: center;
    a{
        
        text-decoration: none;
    }
    ul{
    width: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding: 5px;
    }
}